.btn-back {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-back:hover {
  background-color: #005fa3;
}

